:root {
  font-size: 12px;

  --bg: rgb(242, 242, 242);
  --fg: rgb(14, 14, 14);

  --text-color: rgb(14, 14, 14);
  --text-fade-color: rgba(14, 14, 14, 0.25);

  --side-clear: 2.4rem;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(14, 14, 14);
    --fg: rgb(242, 242, 242);

    --text-color: rgb(242, 242, 242);
    --text-fade-color: rgba(242, 242, 242, 0.25);
  }
}
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'SF Mono', Menlo, Monaco, monospace;
  box-sizing: border-box;

  color: var(--fg);
  background-color: var(--bg);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
}

body {
  min-width: 720px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  padding-left: var(--side-clear);
  padding-right: var(--side-clear);

  flex-grow: 2;
}

/* coffees */

.unknown,
.divider {
  color: var(--text-fade-color);
  font-weight: 400;
}

#coffees {
  margin: 6rem 0 3rem;
  width: 100%;
}
#coffees th {
  text-align: left;
  user-select: none;
}

.entry {
  display: flex;
  justify-content: flex-start;
  gap: 2rem 0;

  border-bottom: 1px solid var(--text-color);

  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
}

.entry th,
.entry td {
  display: flex;
  flex-flow: column nowrap;

  padding-right: 1rem;
}
.entry td a {
  position: relative;
}
.entry td a span.link {
  position: absolute;
}
.entry td a span svg {
  padding-top: 1px;
  transition: stroke 0.3s;
  stroke: var(--text-fade-color);
}
.entry td a:hover span svg {
  stroke: var(--text-color);
}

.entry > *:not(:last-child) {
  flex-basis: 10rem;
  flex-shrink: 0;
}

.entry .flex-divider {
  display: none;
}

/* nav */

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  border-top: 1px solid var(--text-color);
}

#nav-left {
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 0.4rem 0.6rem;
}

#nav-right {
  flex-basis: 12%;

  border-bottom: 1px solid var(--text-color);
  padding: 0.4rem 0.6rem;
}

/* login */

#login {
  display: flex;
  justify-content: space-around;

  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-left: var(--side-clear);
  padding-right: var(--side-clear);
  border-top: 1px solid var(--text-color);
}

#login-btn {
  flex-basis: 25%;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
}

#login-btn a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#login-btn {
  transition: color 0.3s, border 0.3s;
  border-left: 1px dashed var(--text-fade-color);
  border-right: 1px dashed var(--text-fade-color);
}
#login-btn a,
#login-btn a small {
  transition: color 0.3s;
  color: var(--text-fade-color);
}
#login-btn:hover {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
#login-btn:hover a,
#login-btn:hover a small {
  color: var(--text-color);
}

#login-btn {
  display: none;
}
#login[data-state='logged-in'] #login-btn {
  display: none;
}
#login[data-state='logged-out']:hover #login-btn {
  display: block;
}

#coffee-form {
  display: none;
}
#login[data-state='logged-out'] #coffee-form {
  display: none;
}
#login[data-state='logged-in']:hover #coffee-form {
  display: flex;
}
#coffee-form:has(input:focus) {
  display: flex;
}

/* coffee form */

input {
  outline: none;
  border: 0;
  border-radius: 0;

  font-size: 12px;

  transition: color 0.3s, border 0.3s;
  color: var(--text-fade-color);
  border-bottom: 1px solid var(--text-fade-color);
}
input:hover,
input:focus {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
label {
  transition: color 0.3s;
}
.input-container:has(> input:hover) > label,
.input-container:has(> input:focus) > label {
  color: var(--text-color);
}

#coffee-form {
  flex-flow: row wrap;
  width: 100%;
  gap: 0.4rem 0;
  margin: 1rem 0;
  color: var(--text-fade-color);
}

.input-group {
  flex-basis: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.input-container {
  display: flex;
  flex-basis: 25%;
  flex-flow: column nowrap;
}
.input-container.flex-50 {
  flex-basis: 50%;
}
.input-container.flex-75 {
  flex-basis: 75%;
}
.input-container.flex-100 {
  flex-basis: 100%;
}

#coffee-form > div:has(> input:focus),
#coffee-form > div:has(> input:hover) {
  color: var(--text-color);
}

#coffee-submit {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  flex-basis: 100%;
  border: 0;
}

input[type='submit'] {
  flex-basis: 25%;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--bg);

  transition: color 0.3s, border 0.3s;
  color: var(--text-fade-color);
  border-left: 1px dashed var(--text-fade-color);
  border-right: 1px dashed var(--text-fade-color);
  border-top: 1px solid var(--bg);
  border-bottom: 1px solid var(--bg);
}

input[type='submit']:hover {
  color: var(--text-color);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

@media (max-width: 720px) {
  :root {
    --side-clear: 2px;
  }
  body {
    min-width: auto;
  }
  .entry {
    flex-flow: row wrap;
  }
  .entry > :not(:last-child) {
    flex-basis: 33%;
  }
  .entry > .notes {
    flex-basis: 66%;
  }
  .entry .flex-divider {
    display: block;
    flex-basis: 100%;
    border-top: 1px solid var(--text-fade-color);
  }
}
